{% extends 'blog/base.html' %}

	{% block head %}
	<title>My Blog</title>
	{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-8">
			<section id="featured" class="carousel slide" data-ride="carousel">
				  <ol class="carousel-indicators">
				    <li data-target="#featured" data-slide-to="0" class="active"></li>
				    <li data-target="#featured" data-slide-to="1"></li>
				    <li data-target="#featured" data-slide-to="2"></li>
		  		</ol>
				<div class="carousel-inner">
			        <div class="carousel-item active">
					    <img src="media/Ravensberg_germany.jpg">
				    </div>	    
					<div class="carousel-item">
					    <img src="media/AruVally.png">
				    </div>
					<div class="carousel-item">
					    <img src="media/Me_Kashmir.JPG">
				    </div>
				</div>
			</section>
			<section class="row">
				<div class="col-lg-8 profile-info">
					<img class="float-left" src="media/Profile_Me.jpg" alt="Me in Photo">
					<h2>Arindam Roychowdhury</h2>
					<p>Pune , India</p>
				</div>

				<div class="col-lg-4">
					<p>Hi, I am Arindam. I love coding , blogging and web apps designing.</p>
				</div>
			</section>
		</div>
		<div class="col-md-4">	
			<section class="gallery">
				{% for post in fav_posts %}
					<img src="#">
					<a href="{% url 'post_details' post.pk %}">{{ post.title }}</a>
				{% endfor %}
			</section>
		</div>	
	</div>

{% endblock %}
